.idea/
target/
.bsp/
env/

# Mini Java files
src/main/scala/antlr4/MiniJava.interp
src/main/scala/antlr4/MiniJava.tokens
src/main/scala/antlr4/MiniJavaBaseVisitor.java
src/main/scala/antlr4/MiniJavaLexer.java
src/main/scala/antlr4/MiniJavaLexer.interp
src/main/scala/antlr4/MiniJavaLexer.tokens
src/main/scala/antlr4/MiniJavaParser.java
src/main/scala/antlr4/MiniJavaVisitor.java